.strength-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.section {
  flex: 1;
  height: 20px;
  width: 110px;
  border-radius: 5px;
  margin: 0 5px;
  transition: background-color 0.3s ease;
}

.gray {
  background-color: rgb(128, 128, 128);
}

.red {
  background-color: red;
}

.yellow {
  background-color: yellow;
}

.green {
  background-color: green;
}
